.wrapper {
    @apply min-h-[80vh];

    .topBar {
        @apply bg-primary-focus text-primary-content px-4 md:px-6 lg:px-16 pt-10 relative;

        .previewImage {
            @apply absolute right-0 inset-y-0;

            img {
                @apply h-full object-cover;
            }

            .overlay {
                @apply absolute inset-0 bg-gradient-to-r from-primary-focus to-transparent;
            }
        }

        .title {
            @apply text-primary-content text-4xl font-serif;
        }

        .tabSelector {
            @apply mt-3 flex gap-2;

            .tab {
                @apply px-2 py-1 border-t-[1px] border-x-[1px] border-base-200 cursor-pointer;

                &.selected {
                    @apply bg-base-200 text-base-content;
                }
            }
        }
    }

    .details {
        @apply px-4 md:px-6 lg:px-16 py-5;

        .collapse {
            @apply mb-2;
            transition: max-width 0.5s ease-out;

            iframe {
                @apply w-full h-[80vh];
                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }

        .attachments {
            @apply flex gap-5 mt-5;

            .download {
                @apply flex bg-primary items-center justify-center text-primary-content px-2 py-1;
                @apply cursor-pointer hover:bg-base-300 hover:text-primary transition-all gap-3;

                .name {
                    span {
                        @apply text-xs opacity-80;
                    }
                }
            }
        }
    }
}
