.title {
  @apply font-sans text-6xl text-white;
}

.helpBox {
  @apply absolute z-[15] text-center bottom-20 left-1/2;
  transform: translateX(-50%);

  .patronsWrapper {
    p {
      @apply mb-2 font-bold text-cedar-500;
    }

    .patrons {
      @apply flex items-center justify-center gap-4;

      .patron {
        @apply w-12 h-12;
      }
    }
  }

  .helpBoxTip {
    @apply mb-4 opacity-50;
  }
}

.mainCanvas {
  @apply z-10 h-full !bg-stark-white-500;
}

.main {
  height: calc(100vh - 91px) !important;
  @apply relative bg-warmGray-800 transition-all;
}

.workInfoBox {
  min-height: 85%;
  width: 100%;
  max-width: 600px;
  @apply z-20 shadow-xl opacity-0 bg-stark-white-100 transition-all;
  @apply absolute top-1/2 right-10;
  transform: translateY(-50%);
  pointer-events: none;

  &.active {
    @apply opacity-100;
    pointer-events: unset;
  }

  &.listOpen {
    @apply -right-full;
  }
}

.listButton {
  @apply absolute z-20 flex px-[2px] cursor-pointer top-1/2 left-10 transition-all;
  @apply shadow-sm bg-stark-white-300;
  transform: translateY(-50%);

  &.close {
    left: 530px;
  }

  span {
    @apply !text-4xl;
  }
}

.scrollLine {
  @apply absolute z-20 hidden -bottom-12 left-1/2;
  @apply w-[1px] h-24 opacity-50 bg-cedar-400;
  transform: translateX(-50%);
}
