.title {
    @apply font-sans text-6xl text-white;
}

.helpBox {
    @apply absolute z-[15] text-center bottom-20 left-1/2;
    transform: translateX(-50%);

    .patronsWrapper {
        p {
            @apply mb-2 font-bold text-primary;
            @apply font-body;
        }

        .patrons {
            @apply flex items-center justify-center gap-4;

            .patron {
                @apply w-12 h-12 object-fill;
            }
        }
    }

    .helpBoxTip {
        @apply mb-4 opacity-50;
    }
}

.mainCanvas {
    @apply z-10 h-full !bg-base-200 relative;
}

.main {
    height: calc(100vh - 40px - 2.5rem) !important;
    @apply relative bg-base-300 transition-all overflow-y-auto md:overflow-hidden;
}

.workInfoBox {
    min-height: 85%;
    width: 100%;
    max-width: 600px;
    @apply z-20 md:shadow-xl opacity-0 bg-base-100 transition-all;
    @apply absolute top-1/2 right-10;
    transform: translateY(-50%);
    pointer-events: none;

    @media screen and (max-width: 768px) {
        & {
            right: 0;
            left: 0;
            top: 75%;
            min-height: unset;
            max-width: unset;
            transform: unset;
        }
    }

    &.active {
        @apply opacity-100;
        pointer-events: unset;
    }

    &.listOpen {
        @apply -right-full;

        @media screen and (max-width: 768px) {
            & {
                @apply hidden;
            }
        }
    }
}

.listButton {
    @apply absolute z-20 flex px-[2px] cursor-pointer top-1/2 left-10 transition-all;
    @apply shadow-sm bg-base-300;
    transform: translateY(-50%);

    &.close {
        left: 530px;

        @media screen and (max-width: 768px) {
            left: 510px;
        }
    }

    span {
        @apply !text-4xl;
    }
}

.scrollLine {
    @apply absolute z-20 hidden -bottom-12 left-1/2;
    @apply w-[1px] h-24 opacity-50 bg-primary;
    transform: translateX(-50%);
}
