.aboutTitle {
    @apply mt-20 lg:-mb-10;
    --heading-distance-lg: 7rem;
}

.aboutSection {
    @apply flex lg:h-[calc(100vh-50px-10rem)] overflow-hidden;
    @apply justify-center lg:justify-start items-center;
    @apply relative;

    .veliero {
        @apply absolute top-1/2 h-full right-0;
        transform: translate(20%, -50%);
        @apply hidden lg:block;
        @apply text-cedar-500;
        fill: currentColor;
    }

    .aboutTextContainer {
        @apply text-xl md:text-2xl;
        @apply w-11/12 lg:w-1/2 lg:ml-28;

        p {
            @apply my-10;
        }
    }
}
