.topButtons {
    @apply flex my-2;

    .searchBox {
        @apply flex bg-stark-white-300 w-min ml-auto;
        @apply items-center justify-center;
        @apply border-[1px] border-cedar-700;
        @apply px-2 py-1;

        .searchInput {
            @apply bg-transparent leading-3;
        }

        .searchIcon {
            @apply w-4 h-4;
            @apply text-warmGray-400;
        }
    }
}

.tableWrapper {
    @apply overflow-auto w-[calc(100vw-66px-3.25rem)] sm:w-[calc(100vw-210px-3.25rem)];

    .table {
        @apply text-left;
        @apply flex flex-col;
        min-width: 900px;

        .header,
        .footer,
        .row {
            @apply flex justify-center items-center;

            & > * {
                @apply flex-[2];

                &.buttonCell {
                    @apply flex-[0.5] flex justify-center items-center cursor-pointer;
                }
            }
        }

        .header,
        .footer {
            @apply bg-cedar-400 text-white  h-8;
            @apply border-[1px] border-cedar-700;

            p {
                @apply border-l-[1px] border-cedar-700 px-3 font-semibold;

                &:first-child {
                    @apply border-l-0;
                }
            }
        }

        .row {
            @apply bg-stark-white-300 h-12;

            &:nth-child(2) > div {
                @apply border-t-0;
            }

            &:nth-last-child(2) > div {
                @apply border-b-0;
            }

            & > div {
                @apply border-[1px] border-cedar-700;
                @apply px-3 py-1 h-full relative;
                @apply overflow-hidden;

                &:not(:first-child) {
                    @apply border-l-0;
                }

                &.editing {
                    overflow: unset;

                    input,
                    textarea {
                        @apply h-20 w-full shadow-sm;
                        @apply bg-stark-white-300 p-1;
                        @apply relative z-50;
                        @apply border-2 border-cedar-700;
                        transform: scale(1.1);
                    }

                    textarea {
                        @apply h-40;
                    }
                }
            }
        }
    }
}
