.heroCarousel {
    @apply flex mt-8 md:w-full;
    @apply overflow-auto;

    @media screen and (min-width: 640px) {
        & {
            overflow: unset;
        }

        .carouselTile {
            &.tileActive {
                @apply flex-[3] z-20 shadow-xl;
                transform: scale(1.05);

                &:first-child {
                    transform: scale(1.05) translateX(2.5%);
                }

                &:last-child {
                    transform: scale(1.05) translateX(-2.5%);
                }

                .tileTitle {
                    @apply md:text-2xl;
                }
            }
        }
    }

    .carouselTile {
        @apply md:flex-1 w-screen md:w-auto h-[60vh] lg:h-[70vh] cursor-pointer;
        @apply p-5 bg-cedar-600;
        @apply relative z-10 flex flex-col justify-end gap-y-4;
        @apply transition-all;

        &:nth-child(odd) {
            @apply bg-cedar-500;
        }

        .tileTitle {
            @apply w-11/12 font-serif text-xl font-bold md:text-xl;
            @apply relative text-white opacity-80 transition-all;
        }

        .tileLine {
            @apply w-9/12 h-2 bg-stark-white-200;
        }
    }
}

.hero {
    @apply flex flex-col md:flex-row;
    @apply items-center;

    .bigTile {
        @apply h-[80vh] md:flex-[2] relative cursor-pointer;
        @apply flex justify-center items-end;
        @apply px-10;
        background: var(--bg-image);

        .overlay {
            @apply bg-gradient-to-t opacity-60 from-[#00000077] to-[#00000000];
            @apply hover:opacity-100 transition-all;
            @apply absolute inset-0;
        }

        h3 {
            @apply z-10 relative;
            @apply font-serif font-semibold text-stark-white-200 text-2xl text-center;
            @apply mb-16;

            &::after {
                @apply bg-stark-white-300 h-2;
                @apply -bottom-3 left-0 right-0 absolute;
                content: '';
            }
        }
    }

    .otherNews {
        @apply md:flex-1;
        @apply h-max w-full md:w-[unset] bg-stark-white-300 md:shadow-sm;
        @apply flex items-center justify-center flex-col;
        @apply pt-8 pb-12;

        @media screen and (min-width: 768px) {
            transform: translateX(-50px);
        }

        h2 {
            align-self: start;
            @apply mb-3;
        }

        h4 {
            @apply w-10/12 relative;
            @apply text-xl cursor-pointer;
            @apply my-4;

            &:hover::after {
                @apply opacity-20;
            }

            &::after {
                @apply bg-warmGray-800 h-1;
                @apply -bottom-3 left-0 right-10 absolute;
                @apply opacity-10;
                content: '';
            }
        }
    }
}
