.heading {
    --heading-distance-lg: 7rem;
}

.boxes {
    @apply flex justify-evenly items-center flex-wrap md:flex-nowrap;
    @apply py-10 md:pb-20 md:pt-12 gap-5;

    .box {
        @apply text-center flex justify-center items-center flex-col gap-2;
        @apply relative;
        @apply cursor-pointer;
        @apply border-2 border-primary;
        @apply overflow-hidden;
        @apply w-[80vw] h-[80vw];
        @apply text-base-200;
        max-width: 250px;
        max-height: 250px;

        &:hover > .triangle {
            transform: scale(10);
        }

        .divider {
            @apply text-base-200 fill-current;
            mix-blend-mode: difference;
        }

        .triangle {
            @apply absolute bottom-0 right-0 text-primary fill-current;
            z-index: -1;
            transform: scale(1);
            transform-origin: bottom right;
            transition: 0.3s all cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        h5 {
            @apply font-serif font-semibold text-2xl text-base-200;
            mix-blend-mode: difference;
        }

        p {
            @apply w-3/4;
            mix-blend-mode: difference;
        }
    }
}
