.wrapper {
    @apply fixed inset-0 bg-base-100;
    @apply flex flex-col items-center justify-center;
    z-index: 9999999;
    @apply opacity-100;
    transition: all 0.5s;

    &.hidden {
        @apply opacity-0 pointer-events-none;
    }

    .logo {
        @apply w-1/6 min-w-[50px] h-auto;
        animation: 1s sailing infinite alternate;
        transform-origin: bottom right;
    }

    .waves {
        @apply w-1/6 min-w-[50px] h-auto;
        @apply -mt-[3.75vw] ml-[0.75rem];
    }
}

@keyframes sailing {
    0% {
        transform: rotate(5deg);
    }
    10% {
        margin-top: 0px;
    }
    60% {
        margin-top: 20px;
    }
    100% {
        transform: rotate(-5deg);
    }
}
